@model IEnumerable<ClientInformationManager.Models.Country>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.country_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country_code)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.country_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country_code)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.country_id })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Back to List", "Index", "Address")
</p>
